@if (error) {
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
}

<div class="container">
    <h1 class="title">
        Available Jobs
    </h1>

    <div class="columns" infiniteScroll [infiniteScrollContainer]="'.scrollable-div'" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
        <div class="column is-two-fifths scrollable-div">
            <app-job-list [jobs]="jobs" [totalCount]="totalCount" (onSelectedJob)="onJobSelected($event)"/>
            @if (loading) {
                <div class="notification is-info is-loading mt-4" >
                    Loading...
                </div>
            }
            @if (finished) {
                <div class="notification is-warning mt-4" >
                    End of the database... There are no more jobs available folks!
                </div>
                }
        </div>
        <div class="column scrollable-div">
            <app-job-page [job]="selectedJob"/>
        </div>
    </div>
</div>