<nav class="navbar">
    <div class="navbar-start">
        <a routerLink="" class="navbar-item">Home</a>
    </div>
    @if (cognitoAuthService.loggedIn()) {
    <div class="navbar-end">
        <span class="navbar-item has-text-grey">
            {{cognitoAuthService.user().fullName}}
        </span>
        <span class="navbar-item has-text-grey">
            {{cognitoAuthService.user().email}}
        </span>
        <a routerLink="jobs/new" class="navbar-item">
            Post Job
        </a>
        <a routerLink="profile" class="navbar-item">
            Profile
        </a>
        <a class="navbar-item" (click)="handleLogout()">
            Logout
        </a>
    </div>
    } @else {
    <div class="navbar-end">
        <a routerLink="login" class="navbar-item">
            Login
        </a>
    </div>
    }
    <!-- <button (click)="startTour()">Start tour</button> -->
</nav>
<router-outlet></router-outlet>